<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" type="text" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div id="title" class="invalid-feedback">
                    Please enter a title.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" id="location" type="text" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div id="location" class="invalid-feedback">
                    Please choose a location.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" id="image" type="text" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div id="image" class="invalid-feedback">
                    Please select an image.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price-label">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div id="price-label" class="invalid-feedback">
                        Please enter a price.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" type="text" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div id="description" class="invalid-feedback">
                    Please add a description.
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">Back</a>
    </div>
</div>